.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.container {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.textSection {
  width: 100%;
  text-align: center;
}

.textSection h1 {
  color: #2b1c33;
  font-size: 24px;
}

.textSection span {
  color: #9757b5;
}

.textSection p {
  font-size: 14px;
  color: #5e3770;
}

.actions {
  margin-top: 20px;
}

.button {
  border: 2px solid lightgray;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px 0;
}

.goToCourses {
  margin-top: 10px;
  background-color: #9757b5;
  padding: 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.imageWrapper {
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

/* Responsive styles */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .textSection {
    width: 50%;
    text-align: left;
  }

  .textSection h1 {
    font-size: 32px;
  }

  .imageWrapper {
    width: 350px;
  }
}

@media (min-width: 1024px) {
  .textSection h1 {
    font-size: 40px;
  }

  .textSection p {
    font-size: 16px;
  }

  .imageWrapper {
    width: 350px;
  }
}
